streamlit==1.29.0
pandas==2.2.3
python-dotenv==1.0.0
fastapi==0.95.2
uvicorn==0.22.0
requests==2.31.0
email-validator==2.1.1

# pip install --upgrade --force-reinstall --no-cache-dir --verbose llama-cpp-python
